*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
DigitalTwinCommon/gradle/wrapper/gradle-wrapper.jar
DigitalTwinCommon/gradle/wrapper/gradle-wrapper.properties
DigitalTwinCommon/gradlew
DigitalTwinCommon/gradlew.bat
DigitalTwinDatasource/gradle/wrapper/gradle-wrapper.jar
DigitalTwinDatasource/gradle/wrapper/gradle-wrapper.properties
DigitalTwinDatasource/gradlew
DigitalTwinDatasource/gradlew.bat
DigitalTwinDeployment/gradle/wrapper/gradle-wrapper.jar
DigitalTwinDeployment/gradle/wrapper/gradle-wrapper.properties
DigitalTwinDeployment/gradlew
DigitalTwinDeployment/gradlew.bat
DigitalTwinProcessor/gradle/wrapper/gradle-wrapper.jar
DigitalTwinProcessor/gradle/wrapper/gradle-wrapper.properties
DigitalTwinProcessor/gradlew
DigitalTwinProcessor/gradlew.bat
docs/gradle/wrapper/gradle-wrapper.jar
docs/gradle/wrapper/gradle-wrapper.properties
docs/gradlew
docs/gradlew.bat
Spawner/gradle/wrapper/gradle-wrapper.jar
Spawner/gradle/wrapper/gradle-wrapper.properties
Spawner/gradlew
Spawner/gradlew.bat
*.jar
*.jar
